<%= form_with model: improve, data: { turbo: false } do |form| %>
  <% if improve.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(improve.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% improve.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title, :class => 'form-label' %>
    <%= form.text_field :title, :class => 'form-control form-control-lg',:required=>'required' %>
  </div>
  <div class="form-group">
    <%= form.label :raw_content, :class => 'form-label' %>
    <%= form.text_area :raw_content, :class => 'form-control form-control-lg', :rows => 7,:required=>'required' %>
  </div>
  <% if Rails.env.production? %>
    <div class="form-group">
      <div id="turnstile-container" class="mt-3"></div>
    </div>
  <% end %>
  <div class="d-grid gap-2">
    <%= form.submit "저장", id: "submit-btn", class: "btn btn-lg btn-primary disabled" %>
  </div>
<% end %>
<% if Rails.env.production? %>
  <script>
      // Turnstile 렌더
      window.turnstileLoaded = function () {
          const el = document.getElementById("turnstile-container");
          if (!el) return;

          el.innerHTML = '';

          turnstile.render(el, {
              sitekey: "<%= ENV['TURNSTILE_SITE_KEY'] %>",
              callback: function () {
                  // Turnstile 성공 시 버튼 활성화
                  const btn = document.getElementById("submit-btn");
                  btn.classList.remove("disabled");
              }
          });
      };

      // disabled 스타일 클릭 시 안내 alert
      document.addEventListener("DOMContentLoaded", function() {
          const btn = document.getElementById("submit-btn");
          btn.addEventListener("click", function(e) {
              if (btn.classList.contains("disabled")) {
                  e.preventDefault(); // form submit 막기
                  alert("로봇 방지 인증을 먼저 완료해주세요.");
                  document.getElementById("turnstile-container")?.scrollIntoView({behavior:'smooth', block:'center'});
              }
          });
      });
  </script>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=turnstileLoaded" async defer></script>
<% end %>
