<%= form_with model: improve, data: { turbo: false } do |form| %>
  <% if improve.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(improve.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% improve.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title, :class => 'form-label' %>
    <%= form.text_field :title, :class => 'form-control form-control-lg',:required=>'required' %>
  </div>
  <div class="form-group">
    <%= form.label :raw_content, :class => 'form-label' %>
    <%= form.text_area :raw_content, :class => 'form-control form-control-lg', :rows => 7,:required=>'required' %>
  </div>
  <% if Rails.env.production? %>
    <div class="cf-turnstile mt-3"
         data-sitekey="<%= ENV['TURNSTILE_SITE_KEY'] %>"
         data-callback="turnstileSuccess">
    </div>
  <% end %>
  <div class="d-grid gap-2 mt-3">
    <% disabled = Rails.env.production? %>

    <%= form.submit "저장",
                 id: "submit-btn",
                 class: "btn btn-lg btn-primary",
                 disabled: disabled %>
  </div>
<% end %>
<% if Rails.env.production? %>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <script>
      function turnstileSuccess() {
          document.getElementById("submit-btn").disabled = false;
      }
  </script>
<% end %>
