<% breadcrumb :user, @user %>
<section id="sl_user_show" class="sub_main">
  <div class="row">
    <div class="slboard_content col-12" itemscope itemtype="http://schema.org/Person">
      <h3 itemprop="name"><%=  @user.name %></h3>
      <div class="sl_content_main">
        <p class="p-4 media rounded-3"><%= @user.description %></p>
        <div class="vote" data-controller="vote">
        <% if user_signed_in? %>
    <%= link_to like_user_path(@user), method: :put do %>
      <span class="material-icons
        <% if current_user.voted_for? @user %> already-vote
        <% end %>">thumb_up</span><span class="text"> <%= @user.cached_votes_up %></span>
    <% end %>
  <% else %>
    <%= link_to like_user_path(@user), { method: :put, :class => "confirm_login",  'data-action'=>"vote#vote" } do %>
      <span class="material-icons" data-vote-target="icon">thumb_up</span><span class="text" data-vote-target="count"> <%= @user.cached_votes_up %></span>
    <% end %>
  <% end %>
        </div>
        <% if @user.user_pictures.any? %>
          <div class="user-pictures d-flex flex-wrap gap-3">
            <% @user.user_pictures.each do |picture| %>
              <% next unless picture.picture? %>

              <div class="user-picture">
                <%= image_tag picture.picture.url,
                              class: "img-thumbnail",
                              width: 160 %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="text-muted">등록된 이미지가 없습니다.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render partial: "comments/templete", locals: {commentable: @user, new_comment: @comment} %>
    </div>
  </div>

  <div class="row">
    <div class="btn-group btn-group-lg col-12 mt-3" role="group" >
      <%=link_to t(:link_list),reports_path,{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
    <% if can? :update, @user and @user.id == current_user.id %>
      &nbsp; | &nbsp;
      <%= link_to t(:link_edit), edit_user_path(@user) %>
    <% end %>
    </div>
</section>
