<%= form_with(ad_model: propose, local: true) do |form| %>
  <% if propose.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h2><%= pluralize(propose.errors.count, "개의 문제") %>로 진행할 수 없습니다.</h2>
      <ul>
        <% propose.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'form-control input-lg', :required => 'required' %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, :class => 'form-control input-lg', :rows => 7, :required => 'required' %>
  </div>
  <div class="d-grid gap-2 mt-3">
    <%= form.submit :class => "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>
