<div class="sl_show">
  <p>
		<b><%=t(:compliment_category_id,scope:[:activerecord,:attributes,:compliment]) %></b>
		<%= @admin_compliment.compliment_category.title %>
	</p>
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:compliment]) %></b>
		<%= @admin_compliment.title %>
	</p>
	<p>
		<b><%=t(:content,scope:[:activerecord,:attributes,:propose]) %></b>
		<%= simple_format(@admin_compliment.content) %>
	</p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:compliment]) %></b>
		<%=raw flagToString(@admin_compliment.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @admin_compliment.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @admin_compliment.created_at %>
  </p>
</div>
<% if can? :update, @admin_compliment %>
<%= link_to t(:link_edit), edit_admin_compliment_path(@admin_compliment) %> |
<% end %>
<%= link_to t(:link_list), admin_compliments_path %>
